.projectCardSection{
    margin-top: 4rem;
   
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   max-width: 100%;
   
    
   
    
    
}
.cardContainer{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 

    gap: 2rem;
    
}

@media (max-width: 31.25rem){
    .projectCardSection{
        margin-top: 4rem;
       margin-left: 5%;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       max-width: 100%;
        
    }
    .cardContainer{
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    
        gap: 2rem;
        
    }
    
    

}